# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Compiled output
dist/

# dotenv environment variables file
.env

# TypeScript
*.tsbuildinfo

# ESLint cache
.eslintcache
